.main {
    height: 100vh;
    width: 100vw;
}

input {
    width: 600px;
    height: 30px;
    margin:0 auto; 

}

.btns {
    display: flex;
    flex-direction: row;
    width: 70%;
    margin: 0 auto;
}